* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 67.5%;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--dark-color);
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}